.forum-display {
    margin-top: 20px;
    background-color: $light;
    padding: 10px;
}

.count-description {
    text-transform: uppercase;
    font-size: 0.8em;
    color: lighten($dark, 50%);
}

.latest-reply {
    height: 56px;
    border-left: 3px solid $highlight;
    padding-left: 10px;
    font-size: 0.8em;

    span {
        line-height: 20px;
    }

    p {
        margin-top: 5px;
    }
}

.forum-row {
    margin-bottom: 10px;
    h3 {
        margin: 0px;
        margin-bottom: 5px;
    }

    .forum-icon {
        margin-left: 15px;
        height: 56px;
        width: 56px;
        border-radius: 28px;
        background-color: $highlight;
    }
}

.thread-list {
    .thread-row {
        margin-bottom: 10px;

        h3 {
            margin: 0px;
            margin-bottom: 5px;
            margin-top: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .thread-description {
            font-size: 0.9em;
            color: lighten($dark, 50%);
        }

        .user-avatar {
            margin-left: 15px;
            height: 56px;
            width: 56px;
            border-radius: 28px;
            display: block;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .badge {
            text-transform: uppercase;
            border-radius: 2px;
            font-weight: normal;
        }

        &.thread-announcement {
            h3 {
                a {
                    color: $red;
                }
            }

            .badge {
                background-color: $red;
            }

            .latest-reply {
                border-color: $red;
            }
        }

        &.thread-sticky {
            h3 {
                a {
                    color: $green;
                }
            }

            .badge {
                background-color: $green;
            }

            .latest-reply {
                border-color: $green;
            }
        }
    }
}

/* Thread view styles */
.post-user-info-container {
    position: relative;
    padding: 10px;
    padding-top: 100%;
    border-radius: 5px;
    background-size: 150%;
    background-position: center 0%;
    background-repeat: no-repeat;
    border: 2px solid $highlight;

    .user-name {
        position: absolute;
        top: 10px; left: 0px; right: 0px;
        text-align: center;
        color: #E2EBF5;
        text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
    }

    .user-icon {
        position: absolute;
        bottom: 10px; left: 10px;
    }

    .user-detail {
        position: absolute;
        bottom:0px;left:0px;right:0px;top:50%;
        background-color: rgba(0,0,0,0.75);
        border-top: 2px solid $highlight;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 5px;
        font-size: 0.8em;
        color: $light;
    }

    .user-gil {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 1.2em;
        color: #ffffff;
        text-shadow: -1px 0 3px #cb8b22, 0 1px 3px #cb8b22, 1px 0 3px #cb8b22, 0 -1px 3px #cb8b22;
    }
}

.post-content {
    .posted-at {
        color: lighten($dark, 50%);
        font-size: 0.7em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .signature {
        color: lighten($dark, 50%);
        font-size: 0.8em;
    }
}

/* Forum form visibilty */
.new-topic-form {
    display: none;
}
