.icon-defaults {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    cursor: pointer;
    content: '';
    display: block;
}

.icon {
    @extend .icon-defaults;
    height: 48px;
    width: 48px;
}

.icon-small {
    @extend .icon-defaults;
    height: 24px;
    width: 24px;
}

.icon-character-config {
    background-image: url('/img/icons/character_configuration.png');
}

.icon-config {
    background-image: url('/img/icons/system_configuration.png');
}

.icon-site-config {
    background-image: url('/img/icons/ui_settings.png');
}

/* User rank icons */
.user-rank-icon {
    @extend .icon-defaults;
    display: inline-block;
    margin-right: 1px;
}

.admin, .administrators {
    width: 9px;
    height: 13px;
    background-image: url('/img/icons/crystal.png');
}

.free-company-member, .members {
    width: 8px;
    height: 16px;
    background-image: url('/img/icons/moogle.png');
}

/* Forum Icons */
i.forum-icon {

}

.icon-general-chat {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: red;
    display: inline-block;
}
