.user-avatar-base {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.user-image-avatar {
    @extend .user-avatar-base;
    width: 100%;
    padding-top: 100%;
}

.user-avatar-tiny {
    @extend .user-avatar-base;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
}

.user-avatar-round {
    @extend .user-avatar-base;
    display: block;
    width: 100%;
    border-radius: 50%;
    padding-top: 100%;
}


.profile-display {
    background-color: $light;
    padding: 10px;
}

.profile-stats {
    margin-bottom: 20px;

    .stat {
        padding: 5px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 2em;
        border-radius: 5px;
        color: $light;

        span {
            font-size: 0.4em;
            display: block;
            text-transform: uppercase;
        }

        &.posts {
            background-color: $highlight;
        }

        &.screenshots {
            background-color: $forum1color;
        }

        &.aether {
            background-color: $forum4color;
        }

        &.achievements {
            background-color: $forum3color;
        }
    }
}

/* JOB RELATED STUFF */

.job-level {
    font-size: 1.2em;
    font-weight: bold;
}

.job-name {
    font-size: 1.2em;
    color: $highlight;

    &.capped {
        color: #cb8b22;
    }
}

.exp {
    font-size: 0.8em;
    span {
        font-weight: bold;
    }
}

.progress {
    height: 5px;
    margin-bottom: 10px;
    .progress-bar {
        background-color: $highlight;

        &.capped {
            background-color: #cb8b22;
        }
    }
}

/* END JOB RELATED STUFF */


.user-header {
    background-color: $light;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .background {
        position: absolute;
        top: 0;
        left: 0; right: 0;
        height: 200px;
        z-index: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .edit-background {
        position: relative;
        float: right;
        color: $light;
        padding-right: 10px;
        padding-top: 10px;
        height: 30px;
    }

    .row {
        z-index: 2;
    }

    .user-image-full {
        width: 90%;
        height: 270px;
        margin: auto;
        margin-top: 20px;
        margin-left: 20px;
        border: 3px solid $light;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .user-details {
        padding-top: 170px;

        .user-title {
            color: lighten($dark, 50%);
        }
    }
}

.user-dashboard {
    background-color: $light;
    padding: 20px;

    .icon {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
