.user-avatar-base {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.user-image-avatar {
    @extend .user-avatar-base;
    width: 100%;
    padding-top: 100%;
}

.user-avatar-tiny {
    @extend .user-avatar-base;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
}

.user-avatar-round {
    @extend .user-avatar-base;
    display: block;
    width: 100%;
    border-radius: 50%;
    padding-top: 100%;
}


.user-header {
    background-color: $light;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .background {
        position: absolute;
        top: 0;
        left: 0; right: 0;
        height: 200px;
        z-index: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .edit-background {
        position: relative;
        float: right;
        color: $light;
        padding-right: 10px;
        padding-top: 10px;
        height: 30px;
    }

    .row {
        z-index: 2;
    }

    .user-image-full {
        width: 90%;
        height: 270px;
        margin: auto;
        margin-top: 20px;
        margin-left: 20px;
        border: 3px solid $light;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .user-details {
        padding-top: 170px;

        .user-title {
            color: lighten($dark, 50%);
        }
    }
}

.user-actions {
    background-color: $light;
    padding-top: 20px;

    .icon-container {
        margin-left: 20px;
    }
    .icon {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
