/*
    IMP Stylesheets
*/

/* Define variables */
$highlight: #538ecd;
$light: #fff;
$dark: #000;
$red: #CC0000;
$green: #006E2E;

$forum1color: #6BBA70;
$forum2color: #C79810;
$forum3color: #3F4C6B;
$forum4color: #D15600;
$forum5color: #EEEEEE;

/* Globals */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}

.date {
    color: lighten($dark, 50%);
    font-size: 0.8em;
}

/* Import stylesheets */

@import 'tooltips';
@import 'layout';
@import 'header';
@import 'logos';
@import 'forms';
@import 'user';
@import 'icons';
@import 'forums';
